<?xml version="1.0" ?>
<robot name="mia_hand_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">    
    <!-- ==================================================== -->
    <!-- INITIAL SETUP OF WORLD LINK AND WORLD_INTERFACE LINK -->
    <!-- ==================================================== -->
    <!-- world -->
    <link name="world" />

    <!-- world_interface. Makes it convenient to move the whole environment according to the world origin -->
    <link name="world_interface"/>

    <!-- world<->world_interface joint -->
    <joint name="world_interface_to_world" type="fixed">
        <parent link="world" />
        <child link="world_interface" />
    </joint>

    <!-- mia hand -->
    <xacro:include filename="$(find mia_hand_description)/urdf/mia_hand.urdf.xacro" />
    <xacro:mia_hand_robot joint_limits_parameters_file="$(find mia_hand_description)/calibration/joint_limits_default.yaml"/>

    <!--joint between world_interface and mia hand-->
    <joint name="world_to_hand" type="fixed">
        <parent link="world_interface" />
        <child link = "palm" />
        <origin xyz="0 0 1" rpy="0 0 0" />
    </joint>

    <!--camera-->
    

</robot>