<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- input topics -->
	<arg name="rgb_camera_info"               default="/camera/color/camera_info"/>
	<arg name="rgb_image_raw"                 default="/camera/color/image_raw"/>
	<arg name="rgb_image_rect"                default="/camera/color/image_rect"/>

	<!-- input topics -->
	<arg name="depth_camera_info"             default="/camera/depth/camera_info"/>
	<arg name="depth_image_raw"   	          default="/camera/depth/image_raw"/>
	<arg name="depth_image_rect"   	          default="/camera/depth/image_rect"/>

	<!-- depth registered topics -->
	<arg name="depth_registered_camera_info"  default="/camera/depth_registered/camera_info"/> 
	<arg name="depth_registered_image_rect"   default="/camera/depth_registered/image_rect"/> 
	<arg name="depth_registered_points"       default="/camera/depth_registered/points"/> 

	<node pkg="nodelet" type="nodelet" name="image_proc_nodelet_manager" args="manager" />

	<!-- Takes an unrectified image stream and its associated calibration parameters, and produces rectified images. -->
	<node pkg="nodelet" type="nodelet" name="color_image_proc_rectify" args="manager" />
		<node pkg="nodelet" type="nodelet" name="color_image_rectification" args="load image_proc/rectify image_proc_nodelet_manager">
        <remap from="camera_info"                        to="$(arg rgb_camera_info)"/>
		<remap from="image_mono"                         to="$(arg rgb_image_raw)"/>

		<remap from="image_rect"                         to="$(arg rgb_image_rect)"/>
	</node>

	<!-- Takes an unrectified image stream and its associated calibration parameters, and produces rectified images. -->
	<node pkg="nodelet" type="nodelet" name="depth_image_proc_rectify" args="manager" />
		<node pkg="nodelet" type="nodelet" name="depth_image_rectification" args="load image_proc/rectify image_proc_nodelet_manager">
        <remap from="camera_info"                        to="$(arg depth_camera_info)"/>
		<remap from="image_mono"                         to="$(arg depth_image_raw)"/>

		<remap from="image_rect"                         to="$(arg depth_image_rect)"/>
	</node>

	<!-- "register" depth image to rgb camera frame. Reprojecting the depths requires the calibration parameters of both cameras and, from tf, the extrinsic transform between them. -->
	<node pkg="nodelet" type="nodelet" name="image_registration" args="load depth_image_proc/register image_proc_nodelet_manager">
        <remap from="rgb/camera_info"                    to="$(arg rgb_camera_info)"/>
		<remap from="depth/camera_info"                  to="$(arg depth_camera_info)"/>
		<remap from="depth/image_rect"                   to="$(arg depth_image_rect)"/>

		<remap from="depth_registered/camera_info"       to="$(arg depth_registered_camera_info)"/>
		<remap from="depth_registered/image_rect"        to="$(arg depth_registered_image_rect)"/>
	</node>

	<!-- combine registered depth image and RGB image into XYZRGB point cloud. -->
	<node pkg="nodelet" type="nodelet" name="image_proc_pointcloud_xyzrgb" args="load depth_image_proc/point_cloud_xyzrgb image_proc_nodelet_manager">
		<remap from="rgb/camera_info"                    to="$(arg rgb_camera_info)"/>
		<remap from="rgb/image_rect_color"               to="$(arg rgb_image_rect)"/>
		<remap from="depth_registered/image_rect"        to="$(arg depth_registered_image_rect)"/>
		
		<remap from="depth_registered/points"            to="$(arg depth_registered_points)"/>
	</node>
</launch>
