<?xml version="1.0"?>
<launch>
    <!-- Arguments -->
    <arg name="robot_namespace"                 default="mia_hand"/>
    <arg name="hand_config_file"                default="hand_config.yaml" />
    <arg name="rl_config_file"                  default="rl_config.yaml" />
    <arg name="sim_world_config_file"           default="sim_world_config.yaml" />
    
    <!-- Launch Mia RL environment bringup -->
    <include file="$(find sim_world)/launch/mia_hand_env_bringup.launch">
        <arg name="robotNamespace"              value="$(arg robot_namespace)"/>
        <arg name="wrist_rotation"              value="true"/>
        <arg name="cartesian_control"           value="true"/>
    </include>
    
    <!-- Launch gazebo contact republisher -->
    <node name="contact_republisher" pkg="contact_republisher" type="contact_republisher_node" ns="$(arg robot_namespace)" args="--log_level=debug" />

    <!-- Launch Mia RL node -->
    <node name="mia_hand_rl" pkg="rl_env" type="main.py" output="screen">
        <param name="robot_namespace"           value="$(arg robot_namespace)" />
        <param name="hand_config_file"          value="$(arg hand_config_file)" />
        <param name="rl_config_file"            value="$(arg rl_config_file)" />
        <param name="sim_world_config_file"     value="$(arg sim_world_config_file)" />
    </node>
</launch>